---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Posts";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/blog.webp"/>
    </div>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="https://zesty-thought-e9b.notion.site/Recursos-Inform-tica-e4cb771ca1374f7a9428c44d19001160?pvs=74"
            image="/recursos-informatica.png"
            title="Recursos de informática (es)"
            body="Computer science resources for my companions at Inacap"
        />
    </ul>
    
    <h2>Instagram</h2>
    
    <ul role="list" class="link-card-grid">
        <Card
            url="https://www.instagram.com/alexistoronavarro/"
            image="/instagram-profile.png"
            title="Instagram Page"
            body="In this profile I post my day to day studies and some other related things"
        />
    </ul>
</Layout>
