---
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';


const { pageTitle, description= "T0R0 2024 portfolio" } = Astro.props;
---
<!DOCTYPE html>
<html transition:animate="none" lang="en">
	<head>
        <meta charset="utf-8" />
        <meta name="description" content="Just a simple portfolio">
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap" rel="stylesheet">       
        <meta name="generator" content={Astro.generator} />

        
        <title>{pageTitle}</title>

<!-- HTML Meta Tags -->
<meta name="description" content="Just a simple portfolio from a
Computer Science student in Latam Chile, XIV región
 ">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://t0r0-2024-portfolio.netlify.app">
<meta property="og:type" content="website">
<meta property="og:title" content="T0R0 Portfolio">
<meta property="og:description" content="Just a simple portfolio from a
Computer Science student in Latam Chile, XIV región
 ">
<meta property="og:image" content="https://raw.githubusercontent.com/XxtbmfxX/t0r0-2024-portfolio/main/public/portfolio_image.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="t0r0-2024-portfolio.netlify.app">
<meta property="twitter:url" content="https://t0r0-2024-portfolio.netlify.app">
<meta name="twitter:title" content="T0R0 Portfolio">
<meta name="twitter:description" content="Just a simple portfolio from a
Computer Science student in Latam Chile, XIV región
 ">
<meta name="twitter:image" content="https://raw.githubusercontent.com/XxtbmfxX/t0r0-2024-portfolio/main/public/portfolio_image.png">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->



        <ViewTransitions />
	</head>
	<body>
        <Header />
        <main transition:animate={fade({ duration: '0.4s' })} >
	    <slot />
            <Footer />
        </main>
        <script>
            function colorMode() {
                if (
                    localStorage.theme === "light" ||
                    (!("theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: light)").matches)
                ) {
                    document.documentElement.classList.add("light");
                } else {
                    document.documentElement.classList.remove("light");
                }
              }
            
            colorMode();
            document.addEventListener('astro:after-swap', colorMode);
        </script>
	</body>
</html>

<style>
    main{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
</style>
